CEAdata/
CEAexec-win/
CS_モード追加マニュアル(課題風)(CS.ver4.1.0想定)/
Output/
SaveData/
SUBARU/
Designdata/
Engine_datasheet/
Otherdata/
Oxidantdata/
Settings/
Thrustdata/
compress_project.py
settings.json
*.xlsx
*.csv
*.inp
*.out
*.txt
*.bat
*.htm
*.ja
*.log
*.spec
