CEAdata/
CEAexec-win/
CS_モード追加マニュアル(課題風)(CS.ver4.1.0想定)/
Output/
SaveData/
SUBARU/
Designdata/
Otherdata/
Oxidantdata/
Settings/
Thrustdata/
compress_project.py
settings.json
*.csv
*.inp
*.out
*.txt
*.bat
*.htm
*.ja
*.log
*.spec
*.asv
Scripts/GeneralSettingUI/build/
Scripts/GeneralSettingUI/__pycache__/
